{% extends "APPlatformBundle::layout.html.twig" %}
{% block title %}Lelo to zo pona{% endblock %}
{% block platform_body %}
    {% block header %}
        <br><br>
    {% endblock %}
    {% block carousel %}
        
    {% endblock %}
    {% block content %}
        <div class="container" style="background-color:lightgrey;">
            <br><br>
    <div style="color: #000;">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-4">
                Mboté na yo ndeko {{ app.session.get('votant') }} !
            </div>
        </div>

        <br><br><br><br>
{% if  app.session.get('votant')  %}


</div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-9">
                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center;">
                        <h3 class="panel-title">Lelo eyindi ! To zo pona</h3>
                    </div>
                    <div class="panel-body" style="text-align: left;color: black;">
                        <form action="{{ path('tokevote') }}" method="post">
                            {{ form_errors(form) }}
                            <div class="col-sm-12">
                                {{ form_widget(form.proposition,  {'attr': { 'title':'Pona oyo olingi'}}) }}
                                <p class="help-block text-danger" style="color: red;">{{ form_errors(form.proposition) }}</p>

                                
                                
                                <div class="form-group">
                                    <button id="btn" class="btn btn-success"  type="submit">Tinda vote na yo</button>

                                </div>
                            </div>
                            {{form_rest(form)}}
                        </form>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-offset-1 col-xs-8">
                <div class="col-sm-offset-2 col-sm-8">
                    {% if app.session.flashbag.has('mbalamoko') %}
                        <div class="alert alert-danger">
                            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                            {% for message in app.session.flashbag.get('mbalamoko') %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div> 
        
        <br><br>
        <br><br>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-9">
                <table class="table table-striped table-condensed">
                    <caption>
                        <h4>Les résultats en temps réel (<span style="color:blue;">{{total}}</span> personnes ont voté sur 41 inscrits au total - Le vote est terminé !)</h4>
                    </caption>
                    <thead>
                    <tr>
                        <th>Propositions</th>
                        <th>Points</th>
                        <th>Pourcentages</th>
                        <th>Votants</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: left;">
                    {% for choix in listChoix %}
                        <tr>
                            <td>
                                {{ choix.proposition }}
                            </td>
                            <td>
                                {{ choix.count }}
                            </td>
                            <td>
                                {{ ((choix.count / total)*100) | number_format(1, ',', '.') }} %
                            </td>
                            <td style="color:green;">
                                {% if choix.votants is not empty %}
                                    {% for votant in choix.votants %}
                                        {{ votant.name }}{% if not loop.last %},&nbsp;{% endif %}
                                    {% endfor %}
                                {% endif %}
            
                            </td>
                        </tr>
                    {% endfor %}
                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
        $(document).ready(function(){
            $("#form_proposition label").prepend('<span>&nbsp;&nbsp;</span>');
            $("#form_proposition label").after("<br /><br />");
            $("#form_proposition label").css('color','black');
            
            $("#btn").click(function(e){
                e.preventDefault();
                alert("Vote esili bokende ko lala !");
            });
        });
    </script>

{% else %}
    <p>Accès interdit sans authentification ! <a href="{{path('nakevote')}}">Cliqué awa</a> pona o s'authentifier</p>
{% endif %}       
           
    

        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#form_proposition label").prepend('<span>&nbsp;&nbsp;</span>');
            $("#form_proposition label").after("<br /><br />");
            $("#form_proposition label").css('color','black');
        });
    </script>
{% endblock %}